# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# Python Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Build
build/
dist/
*.spec

# Backup
backups/

# Environment
.env

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store